## **TESTING:** etl_21 -- TSDB

In [1]:
import os
import pandas as pd
import pyarrow
import pytz
from datetime import datetime, timedelta
import pyarrow.feather as feather
import numpy as np
pd.set_option('display.max_columns', None)
import matplotlib.pyplot as plt
from pandasql import sqldf
import sqlite3
import argparse
import shutil
import psycopg2
from sqlalchemy import create_engine


pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

### **CONENCTION**

In [2]:
CONNECTION = "postgres://tsdbadmin:phnkvdq0tfttytfn@esd7mq3z84.dts890uzaz.tsdb.cloud.timescale.com:37281/tsdb?sslmode=require"

Using psycopg2

In [3]:
conn = psycopg2.connect(CONNECTION)

Using SQLAlchemy

In [4]:
# conn = create_engine(CONNECTION)

Convert History to SCD

# **CHECKS** Scope

In [47]:
l_check_prices = [
    # '61277.43000000',
#  '61111.20000000',
#  '61268.29000000',
#  '61132.62000000',
#  '61299.90000000',
#  '61058.75000000',
#  '61056.20000000',
#  '61223.36000000',
#  '61065.03000000',
#  '61227.34000000',
#  '61056.70000000',
#  '61237.96000000',
#  '61170.44000000',
#  '61136.34000000',
#  '61222.59000000',
#  '61111.51000000',
 '61227.27000000',
#  '61158.14000000',
#  '61303.54000000',
#  '61047.88000000'
]

# **CHECKS** Database

### Tables

In [7]:
import psycopg2

def list_tables(conn):
    # Create a cursor object
    cursor = conn.cursor()

    # Execute the query to list all tables
    query = """
    SELECT table_schema, table_name
    FROM information_schema.tables
    WHERE table_type = 'BASE TABLE' and table_schema = 'public'
    ORDER BY table_schema, table_name;
    """
    cursor.execute(query)

    # Fetch all the results
    tables = cursor.fetchall()

    # Print the results
    for table in tables:
        # print(table)
        print(f"{table[0]}.{table[1]}")

    # Close the cursor and connection
    cursor.close()
    # conn.close()

list_tables(conn)

public.l2_history_ask
public.l2_history_bid
public.l2_snapshot_ask
public.l2_snapshot_bid
public.logs
public.update_i

Convert History to SCD

### Snapshot

In [ ]:
# s01_02.columns

In [48]:
# Define the query
sql_s01 = 'SELECT * FROM l2_snapshot_ask'

# Execute the query and load the data into a pandas DataFrame
s01_01 = pd.read_sql_query(sql_s01, conn)
s01_02 = s01_01[s01_01['price'].isin(l_check_prices)].copy()

display(s01_02)

/tmp/ipykernel_140976/2670138738.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  s01_01 = pd.read_sql_query(sql_s01, conn)

,ticker,side,price,px_00,quantity,qx_00,timestamp,ts_e_est,lastupdateid
3521,BTCUSDT,ASK,61227.27000000,61227.27,0.00051000,0.00051,2024-05-11 09:15:50.905435|EDT-0400,2024-05-11 13:15:50.905435+00:00,46916616325

### History

In [49]:
# Define the query
sql_h01 = 'SELECT * FROM l2_history_ask'

# Execute the query and load the data into a pandas DataFrame
h01_01 = pd.read_sql_query(sql_h01, conn)
h01_02 = h01_01[h01_01['price'].isin(l_check_prices)].sort_values(by=['scd_to_date'])
display(h01_02)

/tmp/ipykernel_140976/4020515903.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  h01_01 = pd.read_sql_query(sql_h01, conn)

,ticker,side,price,px_00,quantity,qx_00,timestamp,ts_e_est,lastupdateid,scd_from_date,scd_to_date
3502,BTCUSDT,ASK,61227.27000000,61227.27,0.00051000,0.00051,2024-05-11 09:15:50.905435|EDT-0400,2024-05-11 13:15:50.905435+00:00,46916616325,2024-05-11 13:15:50.905435+00:00,2024-05-11 12:36:33.250000+00:00
5401,BTCUSDT,ASK,61227.27000000,61227.27,0.00000000,0.00000,2024-05-11 12:36:32.388487|EDT-0400,2024-05-11 12:36:33.250000+00:00,46922716597,2024-05-11 12:36:33.250000+00:00,2024-05-11 12:37:25.253000+00:00
6736,BTCUSDT,ASK,61227.27000000,61227.27,0.01069000,0.01069,2024-05-11 12:37:24.538174|EDT-0400,2024-05-11 12:37:25.253000+00:00,46922726066,2024-05-11 12:37:25.253000+00:00,2024-05-11 12:37:27.251000+00:00
90389,BTCUSDT,ASK,61227.27000000,61227.27,0.00000000,0.00000,2024-05-11 12:37:26.401616|EDT-0400,2024-05-11 12:37:27.251000+00:00,46922726524,2024-05-11 12:37:27.251000+00:00,2024-05-11 13:06:11.334000+00:00
90452,BTCUSDT,ASK,61227.27000000,61227.27,0.00039000,0.00039,2024-05-11 13:06:10.472852|EDT-0400,2024-05-11 13:06:11.334000+00:00,46923287585,2024-05-11 13:06:11.334000+00:00,2024-05-11 13:06:28.335000+00:00
172957,BTCUSDT,ASK,61227.27000000,61227.27,0.00000000,0.00000,2024-05-11 13:06:27.476111|EDT-0400,2024-05-11 13:06:28.335000+00:00,46923292831,2024-05-11 13:06:28.335000+00:00,2024-05-12 09:46:28.097000+00:00
172986,BTCUSDT,ASK,61227.27000000,61227.27,0.04763000,0.04763,2024-05-12 09:46:27.239366|EDT-0400,2024-05-12 09:46:28.097000+00:00,46939682247,2024-05-12 09:46:28.097000+00:00,2024-05-12 09:46:38.097000+00:00
173826,BTCUSDT,ASK,61227.27000000,61227.27,0.00000000,0.00000,2024-05-12 09:46:37.241440|EDT-0400,2024-05-12 09:46:38.097000+00:00,46939686623,2024-05-12 09:46:38.097000+00:00,2024-05-12 09:59:18.135000+00:00
196062,BTCUSDT,ASK,61227.27000000,61227.27,0.00017000,0.00017,2024-05-12 09:59:17.379015|EDT-0400,2024-05-12 09:59:18.135000+00:00,46939872559,2024-05-12 09:59:18.135000+00:00,2024-05-12 10:00:02.139000+00:00
196233,BTCUSDT,ASK,61227.27000000,61227.27,0.00000000,0.00000,2024-05-12 10:00:01.279583|EDT-0400,2024-05-12 10:00:02.139000+00:00,46939880675,2024-05-12 10:00:02.139000+00:00,2024-05-12 10:00:03.141000+00:00
196459,BTCUSDT,ASK,61227.27000000,61227.27,0.98053000,0.98053,2024-05-12 10:00:02.284643|EDT-0400,2024-05-12 10:00:03.141000+00:00,46939882154,2024-05-12 10:00:03.141000+00:00,2024-05-12 10:00:26.142000+00:00
309516,BTCUSDT,ASK,61227.27000000,61227.27,0.00000000,0.00000,2024-05-12 10:00:25.282245|EDT-0400,2024-05-12 10:00:26.142000+00:00,46939888912,2024-05-12 10:00:26.142000+00:00,2024-05-12 11:06:25.331000+00:00
310605,BTCUSDT,ASK,61227.27000000,61227.27,0.00244000,0.00244,2024-05-12 11:06:24.513591|EDT-0400,2024-05-12 11:06:25.331000+00:00,46940825100,2024-05-12 11:06:25.331000+00:00,2024-05-12 11:07:34.337000+00:00
310907,BTCUSDT,ASK,61227.27000000,61227.27,0.00000000,0.00000,2024-05-12 11:07:33.478397|EDT-0400,2024-05-12 11:07:34.337000+00:00,46940839487,2024-05-12 11:07:34.337000+00:00,9999-12-31 23:59:59.999999+00:00

In [46]:
# Define the query
# sql_h01 = 'SELECT * FROM l2_history_ask'
sql_h01 = """SELECT count(*) 
FROM l2_history_ask
WHERE scd_to_date = '9999-12-31 23:59:59.999999+00:00';
"""

# Execute the query and load the data into a pandas DataFrame
h01_01 = pd.read_sql_query(sql_h01, conn)
display(h01_01)

/tmp/ipykernel_140976/2356472443.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  h01_01 = pd.read_sql_query(sql_h01, conn)

   count
0  92664

In [45]:
# Define the query
# sql_h01 = 'SELECT * FROM l2_history_ask'
sql_h01 = """SELECT count(*) 
FROM l2_history_ask
"""

# Execute the query and load the data into a pandas DataFrame
h01_01 = pd.read_sql_query(sql_h01, conn)
display(h01_01)

/tmp/ipykernel_140976/3315449109.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  h01_01 = pd.read_sql_query(sql_h01, conn)

    count
0  846590

In [44]:
# Define the query
# sql_h01 = 'SELECT * FROM l2_history_ask'
sql_h11 = """
SELECT scd_to_date
, count(*) as Nrows 
FROM l2_history_ask 
group by scd_to_date
"""

# Execute the query and load the data into a pandas DataFrame
h11_01 = pd.read_sql_query(sql_h11, conn)
print(len(h11_01))
# display(h01_01)

/tmp/ipykernel_140976/3202675856.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  h11_01 = pd.read_sql_query(sql_h11, conn)

18000

In [ ]:
SELECT * 
FROM l2_history_{p_side} 
WHERE scd_to_date = '9999-12-31 23:59:59.999999+00:00';

In [ ]:
sql_h01 = 'SELECT scd_to_date, count(*) as Nrows FROM l2_history_ask group by scd_to_date'

# Execute the query and load the data into a pandas DataFrame
h01_01 = pd.read_sql_query(sql_h01, conn)
h01_02 = h01_01[h01_01['price'].isin(l_check_prices)]
display(h01_02)

for side in ['ask']:
    h01_01 = pd.read_sql_query(sql_h01, conn)
    print("------------------------------------------------------------------")
    print(side+" with length of: "+str(len(h01_01)))
    print("------------------------------------------------------------------")    
    display(h01_01.head())
    display(h01_01.tail())
cursor.close()
conn.close()

In [2]:
# # Define the query
# sql_h01 = 'SELECT * FROM l2_history_ask'

# # Execute the query and load the data into a pandas DataFrame
# h01_01 = pd.read_sql_query(sql_h01, conn)
# h01_02 = h01_01[h01_01['price'].isin(l_check_prices)]
# h01_02 = h01_02.sort_values(by=['price','lastupdateid','scd_to_date'])
# # Close the connection
# # conn.close()

# # Display the DataFrame
# for i in set(h01_02['price'].to_list()):
#     display(h01_02.loc[(h01_02['price']==i),['price','quantity','lastupdateid','timestamp','scd_from_date','scd_to_date']])

In [15]:
# # Define the query
# sql_h01 = 'SELECT * FROM l2_history_ask'

# # Execute the query and load the data into a pandas DataFrame
# h01_01 = pd.read_sql_query(sql_h01, conn)
# h01_02 = h01_01[h01_01['price'].isin(l_check_prices)]
# display(h01_02)

# **CHECKS** Uniqueness

In [ ]:

    db_snap_02 = pd.read_sql_query(
        """
        SELECT  lastupdateid
        ,count(distinct side) as D_Side
        FROM l2_snapshot
        GROUP BY lastupdateid 
        """
        , conn)
    db_snap_02.D_Side.value_counts()

# **CHECKS** Logs

In [42]:
# Connect to the SQLite database
# Define the query
sql_logs = 'SELECT * FROM logs'


# Execute the query and load the data into a pandas DataFrame
db_logs_01 = pd.read_sql_query(sql_logs, conn)

# Display the DataFrame
print(db_logs_01.level.value_counts())
print("---------------------------------------------------------------")
# display(db_logs_01)

/tmp/ipykernel_140976/542784419.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  db_logs_01 = pd.read_sql_query(sql_logs, conn)

level
INFO    36052
Name: count, dtype: int64
---------------------------------------------------------------

In [43]:
# display(db_logs_01)
display(db_logs_01[db_logs_01['message'].str.startswith('***g_E01*** READING-IN: l2_')].tail(10))
display(db_logs_01.tail(1))
# display(db_logs_01.head(15))
# display(db_logs_01[db_logs_01['level']=='ERROR'].tail(10))

,timestamp,level,p_db_ver,message
12,2024-05-28 15:19:30.745571,INFO,30_load_update_20.py,***g_E01*** READING-IN: l2_BTCUSDT_G002_00502_20240511_1936.feather @ 2024-05-28 15:19:30.745545
7220,2024-05-28 15:51:39.844165,INFO,30_load_update_20.py,***g_E01*** READING-IN: l2_BTCUSDT_G002_00502_20240512_1636.feather @ 2024-05-28 15:51:39.844073
14427,2024-05-28 16:22:18.350716,INFO,30_load_update_20.py,***g_E01*** READING-IN: l2_BTCUSDT_G002_00502_20240512_1736.feather @ 2024-05-28 16:22:18.350619
21635,2024-05-28 16:57:04.256779,INFO,30_load_update_20.py,***g_E01*** READING-IN: l2_BTCUSDT_G002_00502_20240512_1836.feather @ 2024-05-28 16:57:04.256741
28843,2024-05-28 17:34:39.911325,INFO,30_load_update_20.py,***g_E01*** READING-IN: l2_BTCUSDT_G002_00502_20240512_1936.feather @ 2024-05-28 17:34:39.911251

,timestamp,level,p_db_ver,message
36051,2024-05-28 18:10:02.562575,INFO,30_load_update_20.py,***f_L01*** PROCESSING Update Completed

# **DEEP DIVE**

In [13]:
p_dir_updates = "../test/data/001_raw/"
filename = "l2_BTCUSDT_TEST__00502_20240511_1936.feather"
l2_update_02 = pd.read_feather(os.path.join(p_dir_updates, filename))

In [21]:
p_dir_updates = "../test/data/001_raw/"
filename_s = "l2s_BTCUSDT_G002_00502_20240511_1315.feather"
l2_snap_02 = pd.read_feather(os.path.join(p_dir_updates, filename_s))

In [14]:
l2_update_02.head()

,ticker,side,price,quantity,timestamp,lastupdateid,timestampevent
940,BTCUSDT,ASK,61227.27000000,0.00000000,2024-05-11 12:36:32.388487|EDT-0400,46922716597,1715445393250
941,BTCUSDT,ASK,61227.34000000,0.00000000,2024-05-11 12:36:32.388487|EDT-0400,46922716597,1715445393250
3784,BTCUSDT,ASK,61223.36000000,0.00000000,2024-05-11 12:37:24.538174|EDT-0400,46922726066,1715445445253
3822,BTCUSDT,ASK,61227.27000000,0.01069000,2024-05-11 12:37:24.538174|EDT-0400,46922726066,1715445445253
4278,BTCUSDT,ASK,61227.27000000,0.00000000,2024-05-11 12:37:26.401616|EDT-0400,46922726524,1715445447251

In [28]:
from utils import *
from utils_tsdb import *

In [29]:
l2_update_02[['ts_e_est']] = l2_update_02['timestampevent'].apply(f_convert_ts_to_dt_02)
l2_update_03 =l2_update_02[(l2_update_02['price']=='61227.27000000') & (l2_update_02['side']=='ASK')]
display(l2_update_03)

,ticker,side,price,quantity,timestamp,lastupdateid,timestampevent,ts_e_est
940,BTCUSDT,ASK,61227.27000000,0.00000000,2024-05-11 12:36:32.388487|EDT-0400,46922716597,1715445393250,2024-05-11 12:36:33.250000
3822,BTCUSDT,ASK,61227.27000000,0.01069000,2024-05-11 12:37:24.538174|EDT-0400,46922726066,1715445445253,2024-05-11 12:37:25.253000
4278,BTCUSDT,ASK,61227.27000000,0.00000000,2024-05-11 12:37:26.401616|EDT-0400,46922726524,1715445447251,2024-05-11 12:37:27.251000
207303,BTCUSDT,ASK,61227.27000000,0.00039000,2024-05-11 13:06:10.472852|EDT-0400,46923287585,1715447171334,2024-05-11 13:06:11.334000
209304,BTCUSDT,ASK,61227.27000000,0.00000000,2024-05-11 13:06:27.476111|EDT-0400,46923292831,1715447188335,2024-05-11 13:06:28.335000

In [25]:
l2_snap_03 = l2_snap_02[(l2_snap_02['Price']=='61227.27000000') & (l2_snap_02['Side']=='ASK')]
display(l2_snap_03)

,Ticker,Side,Price,Quantity,Timestamp,LastUpdateId
8521,BTCUSDT,ASK,61227.27000000,0.00051000,2024-05-11 13:15:50.905435,46916616325

In [27]:
display(db_logs_01[db_logs_01['level']=='ERROR'].tail(10))

,timestamp,level,p_db_ver,message
21,2024-05-27 21:37:50.589328,ERROR,30_load_update_20.py,"***f_L01_update*** Error updating l2_snapshot_ask and l2_history_ask: duplicate key value violates unique constraint ""l2_history_ask_pkey""\nDETAIL: Key (price, side, scd_from_date)=(61227.27000000, ASK, 2024-05-11 12:37:25.253+00) already exists.\n"
63,2024-05-27 21:37:54.327107,ERROR,30_load_update_20.py,"***f_L01_update*** Error updating l2_snapshot_bid and l2_history_bid: duplicate key value violates unique constraint ""l2_history_bid_pkey""\nDETAIL: Key (price, side, scd_from_date)=(61158.14000000, BID, 2024-05-11 12:47:58.284+00) already exists.\n"