## **TESTING:** etl_21 -- TSDB

In [1]:
import os
import pandas as pd
import pyarrow
import pytz
from datetime import datetime, timedelta
import pyarrow.feather as feather
import numpy as np
pd.set_option('display.max_columns', None)
import matplotlib.pyplot as plt
from pandasql import sqldf
import sqlite3
import argparse
import shutil
import psycopg2
from sqlalchemy import create_engine


pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

### **CONENCTION**

In [2]:
CONNECTION = "postgres://tsdbadmin:>X>#h2lWqXESlyGd}mj2NPDlB@esd7mq3z84.dts890uzaz.tsdb.cloud.timescale.com:37281/tsdb?sslmode=require"

Using psycopg2

In [3]:
conn = psycopg2.connect(CONNECTION)

Using SQLAlchemy

In [5]:
# conn = create_engine(CONNECTION)

Convert History to SCD

# **CHECKS** Scope

In [4]:
l_check_prices = ['61277.43000000',
 '61111.20000000',
 '61268.29000000',
 '61132.62000000',
 '61299.90000000',
 '61058.75000000',
 '61056.20000000',
 '61223.36000000',
 '61065.03000000',
 '61227.34000000',
 '61056.70000000',
 '61237.96000000',
 '61170.44000000',
 '61136.34000000',
 '61222.59000000',
 '61111.51000000',
 '61227.27000000',
 '61158.14000000',
 '61303.54000000',
 '61047.88000000']

# **CHECKS** Database

### Tables

In [6]:
import psycopg2

def list_tables(conn):
    # Create a cursor object
    cursor = conn.cursor()

    # Execute the query to list all tables
    query = """
    SELECT table_schema, table_name
    FROM information_schema.tables
    WHERE table_type = 'BASE TABLE' and table_schema = 'public'
    ORDER BY table_schema, table_name;
    """
    cursor.execute(query)

    # Fetch all the results
    tables = cursor.fetchall()

    # Print the results
    for table in tables:
        # print(table)
        print(f"{table[0]}.{table[1]}")

    # Close the cursor and connection
    cursor.close()
    # conn.close()

list_tables(conn)

public.l2_history_ask
public.l2_history_bid
public.l2_snapshot_ask
public.l2_snapshot_bid
public.logs
public.update_i

Convert History to SCD

### Snapshot

In [ ]:
# s01_02.columns

In [ ]:
# Define the query
sql_s01 = 'SELECT * FROM l2_snapshot_ask'

# Execute the query and load the data into a pandas DataFrame
s01_01 = pd.read_sql_query(sql_s01, conn)
s01_02 = s01_01[s01_01['price'].isin(l_check_prices)].copy()

display(s01_02)

### History

In [ ]:
# Define the query
sql_h01 = 'SELECT * FROM l2_history_ask'

# Execute the query and load the data into a pandas DataFrame
h01_01 = pd.read_sql_query(sql_h01, conn)
h01_02 = h01_01[h01_01['price'].isin(l_check_prices)]
display(h01_02)

In [ ]:
# Define the query
sql_h01 = 'SELECT * FROM l2_history_ask'

# Execute the query and load the data into a pandas DataFrame
h01_01 = pd.read_sql_query(sql_h01, conn)
h01_02 = h01_01[h01_01['price'].isin(l_check_prices)]
display(h01_02)

# **CHECKS** Uniqueness

In [ ]:

    db_snap_02 = pd.read_sql_query(
        """
        SELECT  lastupdateid
        ,count(distinct side) as D_Side
        FROM l2_snapshot
        GROUP BY lastupdateid 
        """
        , conn)
    db_snap_02.D_Side.value_counts()

# **CHECKS** Logs

In [9]:
# Connect to the SQLite database
# Define the query
sql_logs = 'SELECT * FROM logs'

# Execute the query and load the data into a pandas DataFrame
db_logs_01 = pd.read_sql_query(sql_logs, conn)

# Display the DataFrame
print(db_logs_01.level.value_counts())
print("---------------------------------------------------------------")
# display(db_logs_01)

level
INFO     63
ERROR     2
Name: count, dtype: int64
---------------------------------------------------------------

/tmp/ipykernel_109297/2746400065.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  db_logs_01 = pd.read_sql_query(sql_logs, conn)

In [11]:
display(db_logs_01)
# display(db_logs_01.tail(15))
# display(db_logs_01[db_logs_01['level']=='ERROR'].tail(10))

,timestamp,level,p_db_ver,message
0,2024-05-27 21:37:29.968269,INFO,20_load_snapshot.py,***main*** LOADING to Database
1,2024-05-27 21:37:30.003652,INFO,20_load_snapshot.py,***f_ETL_Init_01*** Read in file: ../test/data/001_raw/l2s_BTCUSDT_G002_00502_20240511_1315.feather
2,2024-05-27 21:37:30.026516,INFO,20_load_snapshot.py,***f_ETL_Init_01*** Read in # rows: 10000
3,2024-05-27 21:37:30.049475,INFO,20_load_snapshot.py,***f_ETL_Init_01*** l2_snapshot_01
4,2024-05-27 21:37:30.317496,INFO,20_load_snapshot.py,***copy_from_dataframe*** to csv to database
5,2024-05-27 21:37:30.747431,INFO,20_load_snapshot.py,***copy_from_dataframe*** to csv to database
6,2024-05-27 21:37:31.109424,INFO,20_load_snapshot.py,***copy_from_dataframe*** to csv to database
7,2024-05-27 21:37:31.563734,INFO,20_load_snapshot.py,***copy_from_dataframe*** to csv to database
8,2024-05-27 21:37:32.043552,INFO,20_load_snapshot.py,***main*** MOVE l2s_BTCUSDT_G002_00502_20240511_1315.feather file to processed folder
9,2024-05-27 21:37:49.834761,INFO,30_load_update_20.py,***main*** Starting the update process
10,2024-05-27 21:37:49.864495,INFO,30_load_update_20.py,***g_E01_df*** GET list of files
11,2024-05-27 21:37:49.899130,INFO,30_load_update_20.py,***g_E01_df*** ITER PROCESS each file
12,2024-05-27 21:37:49.927009,INFO,30_load_update_20.py,***g_E01*** READING-IN: l2_BTCUSDT_TEST__00502_20240511_1936.feather @ 2024-05-27 21:37:49.926947
13,2024-05-27 21:37:49.972532,INFO,30_load_update_20.py,Number of rows input: 220
14,2024-05-27 21:37:50.082019,INFO,30_load_update_20.py,***g_E01_df*** MOVE l2_BTCUSDT_TEST__00502_20240511_1936.feather file to processed folder
15,2024-05-27 21:37:50.105548,INFO,30_load_update_20.py,***f_L01*** PROCESSING #0 @ 2024-05-27 21:37:50.105522
16,2024-05-27 21:37:50.131231,INFO,30_load_update_20.py,***f_L01_update*** DEDUPE & SORT List of lastupdateid
17,2024-05-27 21:37:50.150818,INFO,30_load_update_20.py,***f_L01_update*** ITER PROCESSING all the lastupdateid's
18,2024-05-27 21:37:50.277997,INFO,30_load_update_20.py,>>>>>>>>here<<<<<<<<<<
19,2024-05-27 21:37:50.358711,INFO,30_load_update_20.py,"***f_L01_update*** Processed lastupdateid 46922716597: 2 rows inserted, 2 rows updated"
20,2024-05-27 21:37:50.526346,INFO,30_load_update_20.py,>>>>>>>>here<<<<<<<<<<
21,2024-05-27 21:37:50.589328,ERROR,30_load_update_20.py,"***f_L01_update*** Error updating l2_snapshot_ask and l2_history_ask: duplicate key value violates unique constraint ""l2_history_ask_pkey""\nDETAIL: Key (price, side, scd_from_date)=(61227.27000000, ASK, 2024-05-11 12:37:25.253+00) already exists.\n"
22,2024-05-27 21:37:50.614256,INFO,30_load_update_20.py,***f_L01_update*** DEDUPE & SORT List of lastupdateid
23,2024-05-27 21:37:50.636729,INFO,30_load_update_20.py,***f_L01_update*** ITER PROCESSING all the lastupdateid's
24,2024-05-27 21:37:50.742864,INFO,30_load_update_20.py,>>>>>>>>here<<<<<<<<<<
25,2024-05-27 21:37:50.809461,INFO,30_load_update_20.py,"***f_L01_update*** Processed lastupdateid 46922730499: 1 rows inserted, 1 rows updated"
26,2024-05-27 21:37:50.900577,INFO,30_load_update_20.py,>>>>>>>>here<<<<<<<<<<
27,2024-05-27 21:37:50.974050,INFO,30_load_update_20.py,"***f_L01_update*** Processed lastupdateid 46922737058: 1 rows inserted, 1 rows updated"
28,2024-05-27 21:37:51.086939,INFO,30_load_update_20.py,>>>>>>>>here<<<<<<<<<<
29,2024-05-27 21:37:51.162481,INFO,30_load_update_20.py,"***f_L01_update*** Processed lastupdateid 46922737195: 1 rows inserted, 1 rows updated"
30,2024-05-27 21:37:51.258942,INFO,30_load_update_20.py,>>>>>>>>here<<<<<<<<<<
31,2024-05-27 21:37:51.328112,INFO,30_load_update_20.py,"***f_L01_update*** Processed lastupdateid 46922763595: 1 rows inserted, 1 rows updated"
32,2024-05-27 21:37:51.429906,INFO,30_load_update_20.py,>>>>>>>>here<<<<<<<<<<
33,2024-05-27 21:37:51.508088,INFO,30_load_update_20.py,"***f_L01_update*** Processed lastupdateid 46922764381: 0 rows inserted, 0 rows updated"
34,2024-05-27 21:37:51.606671,INFO,30_load_update_20.py,>>>>>>>>here<<<<<<<<<<
35,2024-05-27 21:37:51.694105,INFO,30_load_update_20.py,"***f_L01_update*** Processed lastupdateid 46922778923: 1 rows inserted, 1 rows updated"
36,2024-05-27 21:37:51.795953,INFO,30_load_update_20.py,>>>>>>>>here<<<<<<<<<<
37,2024-05-27 21:37:51.854427,INFO,30_load_update_20.py,"***f_L01_update*** Processed lastupdateid 46922779091: 1 rows inserted, 1 rows updated"
38,2024-05-27 21:37:51.954569,INFO,30_load_update_20.py,>>>>>>>>here<<<<<<<<<<
39,2024-05-27 21:37:52.026203,INFO,30_load_update_20.py,"***f_L01_update*** Processed lastupdateid 46922779998: 1 rows inserted, 1 rows updated"
40,2024-05-27 21:37:52.118394,INFO,30_load_update_20.py,>>>>>>>>here<<<<<<<<<<
41,2024-05-27 21:37:52.186253,INFO,30_load_update_20.py,"***f_L01_update*** Processed lastupdateid 46922782991: 1 rows inserted, 1 rows updated"
42,2024-05-27 21:37:52.295218,INFO,30_load_update_20.py,>>>>>>>>here<<<<<<<<<<
43,2024-05-27 21:37:52.377574,INFO,30_load_update_20.py,"***f_L01_update*** Processed lastupdateid 46922784218: 1 rows inserted, 1 rows updated"
44,2024-05-27 21:37:52.492070,INFO,30_load_update_20.py,>>>>>>>>here<<<<<<<<<<
45,2024-05-27 21:37:52.574446,INFO,30_load_update_20.py,"***f_L01_update*** Processed lastupdateid 46922795400: 1 rows inserted, 1 rows updated"
46,2024-05-27 21:37:52.692460,INFO,30_load_update_20.py,>>>>>>>>here<<<<<<<<<<
47,2024-05-27 21:37:52.770343,INFO,30_load_update_20.py,"***f_L01_update*** Processed lastupdateid 46922796807: 1 rows inserted, 1 rows updated"
48,2024-05-27 21:37:52.882933,INFO,30_load_update_20.py,>>>>>>>>here<<<<<<<<<<
49,2024-05-27 21:37:52.966831,INFO,30_load_update_20.py,"***f_L01_update*** Processed lastupdateid 46922852247: 1 rows inserted, 1 rows updated"
50,2024-05-27 21:37:53.094316,INFO,30_load_update_20.py,>>>>>>>>here<<<<<<<<<<
51,2024-05-27 21:37:53.185195,INFO,30_load_update_20.py,"***f_L01_update*** Processed lastupdateid 46922867558: 1 rows inserted, 1 rows updated"
52,2024-05-27 21:37:53.306938,INFO,30_load_update_20.py,>>>>>>>>here<<<<<<<<<<
53,2024-05-27 21:37:53.385320,INFO,30_load_update_20.py,"***f_L01_update*** Processed lastupdateid 46922886528: 1 rows inserted, 1 rows updated"
54,2024-05-27 21:37:53.547259,INFO,30_load_update_20.py,>>>>>>>>here<<<<<<<<<<
55,2024-05-27 21:37:53.628025,INFO,30_load_update_20.py,"***f_L01_update*** Processed lastupdateid 46922888390: 1 rows inserted, 1 rows updated"
56,2024-05-27 21:37:53.723801,INFO,30_load_update_20.py,>>>>>>>>here<<<<<<<<<<
57,2024-05-27 21:37:53.793747,INFO,30_load_update_20.py,"***f_L01_update*** Processed lastupdateid 46922891154: 1 rows inserted, 1 rows updated"
58,2024-05-27 21:37:53.912993,INFO,30_load_update_20.py,>>>>>>>>here<<<<<<<<<<
59,2024-05-27 21:37:53.987011,INFO,30_load_update_20.py,"***f_L01_update*** Processed lastupdateid 46922892849: 2 rows inserted, 2 rows updated"
60,2024-05-27 21:37:54.084149,INFO,30_load_update_20.py,>>>>>>>>here<<<<<<<<<<
61,2024-05-27 21:37:54.155752,INFO,30_load_update_20.py,"***f_L01_update*** Processed lastupdateid 46922893528: 1 rows inserted, 1 rows updated"
62,2024-05-27 21:37:54.253621,INFO,30_load_update_20.py,>>>>>>>>here<<<<<<<<<<
63,2024-05-27 21:37:54.327107,ERROR,30_load_update_20.py,"***f_L01_update*** Error updating l2_snapshot_bid and l2_history_bid: duplicate key value violates unique constraint ""l2_history_bid_pkey""\nDETAIL: Key (price, side, scd_from_date)=(61158.14000000, BID, 2024-05-11 12:47:58.284+00) already exists.\n"
64,2024-05-27 21:37:54.349655,INFO,30_load_update_20.py,***f_L01*** PROCESSING Update Completed

# **DEEP DIVE**

In [13]:
p_dir_updates = "../test/data/001_raw/"
filename = "l2_BTCUSDT_TEST__00502_20240511_1936.feather"
l2_update_02 = pd.read_feather(os.path.join(p_dir_updates, filename))

In [21]:
p_dir_updates = "../test/data/001_raw/"
filename_s = "l2s_BTCUSDT_G002_00502_20240511_1315.feather"
l2_snap_02 = pd.read_feather(os.path.join(p_dir_updates, filename_s))

In [14]:
l2_update_02.head()

,ticker,side,price,quantity,timestamp,lastupdateid,timestampevent
940,BTCUSDT,ASK,61227.27000000,0.00000000,2024-05-11 12:36:32.388487|EDT-0400,46922716597,1715445393250
941,BTCUSDT,ASK,61227.34000000,0.00000000,2024-05-11 12:36:32.388487|EDT-0400,46922716597,1715445393250
3784,BTCUSDT,ASK,61223.36000000,0.00000000,2024-05-11 12:37:24.538174|EDT-0400,46922726066,1715445445253
3822,BTCUSDT,ASK,61227.27000000,0.01069000,2024-05-11 12:37:24.538174|EDT-0400,46922726066,1715445445253
4278,BTCUSDT,ASK,61227.27000000,0.00000000,2024-05-11 12:37:26.401616|EDT-0400,46922726524,1715445447251

In [28]:
from utils import *
from utils_tsdb import *

In [29]:
l2_update_02[['ts_e_est']] = l2_update_02['timestampevent'].apply(f_convert_ts_to_dt_02)
l2_update_03 =l2_update_02[(l2_update_02['price']=='61227.27000000') & (l2_update_02['side']=='ASK')]
display(l2_update_03)

,ticker,side,price,quantity,timestamp,lastupdateid,timestampevent,ts_e_est
940,BTCUSDT,ASK,61227.27000000,0.00000000,2024-05-11 12:36:32.388487|EDT-0400,46922716597,1715445393250,2024-05-11 12:36:33.250000
3822,BTCUSDT,ASK,61227.27000000,0.01069000,2024-05-11 12:37:24.538174|EDT-0400,46922726066,1715445445253,2024-05-11 12:37:25.253000
4278,BTCUSDT,ASK,61227.27000000,0.00000000,2024-05-11 12:37:26.401616|EDT-0400,46922726524,1715445447251,2024-05-11 12:37:27.251000
207303,BTCUSDT,ASK,61227.27000000,0.00039000,2024-05-11 13:06:10.472852|EDT-0400,46923287585,1715447171334,2024-05-11 13:06:11.334000
209304,BTCUSDT,ASK,61227.27000000,0.00000000,2024-05-11 13:06:27.476111|EDT-0400,46923292831,1715447188335,2024-05-11 13:06:28.335000

In [25]:
l2_snap_03 = l2_snap_02[(l2_snap_02['Price']=='61227.27000000') & (l2_snap_02['Side']=='ASK')]
display(l2_snap_03)

,Ticker,Side,Price,Quantity,Timestamp,LastUpdateId
8521,BTCUSDT,ASK,61227.27000000,0.00051000,2024-05-11 13:15:50.905435,46916616325

In [27]:
display(db_logs_01[db_logs_01['level']=='ERROR'].tail(10))

,timestamp,level,p_db_ver,message
21,2024-05-27 21:37:50.589328,ERROR,30_load_update_20.py,"***f_L01_update*** Error updating l2_snapshot_ask and l2_history_ask: duplicate key value violates unique constraint ""l2_history_ask_pkey""\nDETAIL: Key (price, side, scd_from_date)=(61227.27000000, ASK, 2024-05-11 12:37:25.253+00) already exists.\n"
63,2024-05-27 21:37:54.327107,ERROR,30_load_update_20.py,"***f_L01_update*** Error updating l2_snapshot_bid and l2_history_bid: duplicate key value violates unique constraint ""l2_history_bid_pkey""\nDETAIL: Key (price, side, scd_from_date)=(61158.14000000, BID, 2024-05-11 12:47:58.284+00) already exists.\n"